<body>
  <%= render 'layouts/navbar' %>
  <h2 style="text-align: center">Vehículo nuevo:</h2>

  <div class="row">
    <div class="col-md-4 offset-md-4" style="text-align: center">
      <div class="form-signin">
        <br>
        <input type="text" class="form-control" placeholder="Placas">
        <br>
        <input type="text" class="form-control" placeholder="Marca">
        <br>
        <input type="text" class="form-control" placeholder="Modelo">
        <br>
        <input type="number" class="form-control" placeholder="Año">
        <br>
        <input type="text" class="form-control" placeholder="Credencial del cliente">
        <br>
        <a href="index.html" class="btn btn-lg btn-success">Enviar</a>
      </div>
    </div>
  </div>
</body>
