<body>
  <%= render 'layouts/navbar' %>
  <h2 style="text-align: center">Cliente nuevo:</h2>

  <div class="row">
    <div class="col-md-4 offset-md-4" style="text-align: center">
      <div class="form-signin">
        <br>
        <input type="text" class="form-control" placeholder="Credencial de cliente">
        <br>
        <input type="text" class="form-control" placeholder="Nombre de empresa">
        <br>
        <input type="text" class="form-control" placeholder="Nombre de responsable">
        <br>
        <input type="tel" class="form-control" placeholder="Teléfono">
        <br>
        <input type="email" class="form-control" placeholder="Correo electrónico">
        <br>
        <input type="text" class="form-control" placeholder="Comisionista">
        <br>
        <a href="index.html" class="btn btn-lg btn-success">Enviar</a>
      </div>
    </div>
  </div>
</body>
