<body>
  <%= render 'layouts/navbar' %>

  <h2 style="text-align: center">Generar un recibo</h2>

  <div class="row">
    <div class="col-md-4 offset-md-4" style="text-align: center">
      <div class="form-signin">
        <br>
        <input type="number" class="form-control" placeholder="Kilometraje Anterior">
        <br>
        <input type="number" class="form-control" placeholder="Kilometraje Actual">
        <br>
        <input type="number" class="form-control" placeholder="Cantidad de diesel">
        <br>
        <input type="text" class="form-control" placeholder="Placa">
        <br>
        <em>Fotografía del recibo de carga de gasolina.</em>
        <input type="File" class="form-control" placeholder="Placa">
        <br>
        <a href="index.html" class="btn btn-lg btn-success">Enviar</a>
      </div>
    </div>
  </div>
</body>
