<body>
  <%= render 'layouts/navbar' %>
  <h2 style="text-align: center">Representante nuevo:</h2>

  <div class="row">
    <div class="col-md-4 offset-md-4" style="text-align: center">
      <div class="form-signin">
        <br>
        <input type="text" class="form-control" placeholder="Credencial de representante">
        <br>
        <input type="text" class="form-control" placeholder="Nombre completo">
        <br>
        <input type="tel" class="form-control" placeholder="Teléfono celular">
        <br>
        <input type="text" class="form-control" placeholder="Estado">
        <br>
        <input type="text" class="form-control" placeholder="Ciudad">
        <br>
        <a href="index.html" class="btn btn-lg btn-success">Enviar</a>
      </div>
    </div>
  </div>
</body>
