<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
<<<<<<< HEAD
  <%=wicked_pdf_stylesheet_link_tag 'pdf'%>
  </head>
  <body>
=======
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
>>>>>>> cb02fa42e0c7a0f50d9cee3c9496970671ee9167
  <h1>la pruebita</h1>
</body>
</html>
