<nav class="navbar navbar-light bg-faded">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      OTS<span class='light'>Services</span>
    </a>
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
    <ul class="nav navbar-nav pull-sm-right hidden-xs-down">
      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, type: "button", class: "btn btn-danger", :method => :delete%>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, type: "button", class: "btn btn-success" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, type: "button", class: "btn btn-success" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
